<div class="beasiswa-lomba">
  <section class="beasiswa-lomba-header">
    <h1>Beasiswa & Lomba</h1>
    <p>
      Raih peluang emas untuk berkembang dan berprestasi di tingkat yang lebih
      tinggi
    </p>
  </section>

  <main class="beasiswa-section">
    <div class="title-beasiswa">
      <h2>Beasiswa</h2>
    </div>

    <div class="container-beasiswa" id="list-beasiswa">
      <!-- <div class="box-beasiswa">
        <div class="date-box">
          <span id="open">● Buka: 1 Maret 2026</span>
          <span id="close">● Tutup: 11 Maret 2026</span>
        </div>

        <h3 class="title-box">Aniversary Night Of Marine</h3>
        <div class="date-section">
          <div class="date-status">
            <span id="title">BUKA PENDAFTARAN</span>
            <span id="date">11 Maret 2026</span>
          </div>
          <div class="date-status">
            <span id="title">TUTUP PENUTUPAN</span>
            <span id="date">11 Maret 2026</span>
          </div>
        </div>
        <div class="link">
          <a href="#" class="box-link">Lihat Selengkapnya →</a>
        </div>
      </div> -->
    </div>
  </main>

  <main class="lomba-section">
    <div class="title-lomba">
      <h2>Lomba</h2>
    </div>

    <div class="container-lomba" id="list-lomba">
      <!-- <div class="box-lomba">
        <div class="date-box">
          <span id="open">● Buka: 1 Maret 2026</span>
          <span id="close">● Tutup: 11 Maret 2026</span>
        </div>

        <h3 class="title-box">Aniversary Night Of Marine</h3>
        <p class="description-lomba">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ratione
          rem! Quo, non debitis. Dolorum ducimus repudiandae delectus magni
          blanditiis. Rerum est numquam consequatur magni error, esse molestiae
          libero tempore. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Dolorem corporis tempora nihil commodi! Officiis, ducimus eius
          ipsam debitis reprehenderit consequuntur nemo ex voluptas deleniti
          maiores incidunt. Ullam quo magnam reprehenderit.
        </p>

        <hr class="divider" />

        <div class="persyaratan-lomba">
          <span id="title-syarat">PERSYARATAN LOMBA</span>

          <div class="wrapped-syarat">
            <div class="item-persyaratan">
              <div class="icon">✓</div>
              <span>Mahasiswa aktif S1/D3 semua jurusan</span>
            </div>

            <div class="item-persyaratan">
              <div class="icon">✓</div>
              <span>Mahasiswa aktif S1/D3 semua jurusan</span>
            </div>

            <div class="item-persyaratan">
              <div class="icon">✓</div>
              <span>Mahasiswa aktif S1/D3 semua jurusan</span>
            </div>

            <div class="item-persyaratan">
              <div class="icon">✓</div>
              <span>Mahasiswa aktif S1/D3 semua jurusan</span>
            </div>
          </div>
        </div>

        <a href="#" class="box-link-lomba">Daftar Sekarang →</a>
      </div> -->
      
    </div>
  </main>
</div>
