<div class="proker">
  <!-- HERO -->
  <section class="proker-header">
    <h1>Bidang</h1>
    <p>Implementasi visi dalam bentuk aksi nyata bagi lingkungan sekitar</p>
  </section>

  <!-- Content -->
  <section class="proker-content">
    <div class="card-wrapper">
      <div class="card-content" id="ketua">
        <a href="">
          <i data-feather="award"> </i>

          <h4>Ketua dan Wakil</h4>
          <p>Penggerak visi dan misi untuk kemajuan Himpunan Oseanografi.</p>
        </a>
      </div>

      <div class="card-content" id="sekretaris">
        <a href="">
          <i data-feather="edit"> </i>

          <h4>Sekretaris</h4>
          <p>
            Bertanggungjawab dalam aspek kebijakan administrasi dan SOP
            himpunan.
          </p>
        </a>
      </div>

      <div class="card-content" id="bendahara">
        <a href="">
          <i data-feather="dollar-sign"> </i>

          <h4>Bendahara</h4>
          <p>Bertanggung jawab atas pengelolaan keuangan organisasi.</p>
        </a>
      </div>

      <div class="card-content" id="dagri">
        <a href="">
          <i data-feather="home"> </i>

          <h4>DAGRI</h4>
          <p>
            Mengurus dan memfasilitasi segala hal terkait internal kelautan.
          </p>
        </a>
      </div>

      <div class="card-content" id="psdm">
        <a href="">
          <i data-feather="users"></i>

          <h4>PSDM</h4>
          <p>
            Bertanggung jawab dalam membentuk karakter, mencerdaskan serta
            mengembangkan potensi Mahasiswa.
          </p>
        </a>
      </div>

      <div class="card-content" id="dimas">
        <a href="">
          <i data-feather="globe"> </i>

          <h4>DIMAS</h4>
          <p>
            Berfokus pada pelaksanaan kegiatan sebagai bentuk pengabdian kepada
            masyarakat.
          </p>
        </a>
      </div>

      <div class="card-content" id="humas">
        <a href="">
          <i data-feather="message-circle"> </i>

          <h4>HUMAS</h4>
          <p>Menjadi narahubung antara himpunan dengan pihak eksternal.</p>
        </a>
      </div>

      <div class="card-content" id="ekotif">
        <a href="">
          <i data-feather="edit"> </i>

          <h4>EKOTIF</h4>
          <p>
            Berperan penting dalam pemasukan keuangan kebutuhan porgram kerja
            himpunan dan kebutuhan mahasiswa.
          </p>
        </a>
      </div>

      <div class="card-content" id="kesma">
        <a href="">
          <i data-feather="heart"> </i>

          <h4>KESMA</h4>
          <p>Membantu serta mewadahi aspirasi untuk kesejahteraan mahasiswa.</p>
        </a>
      </div>

      <div class="card-content" id="seniora">
        <a href="">
          <i data-feather="music"> </i>

          <h4>SENIORA</h4>
          <p>
            Berfokus pada pengembangan bakat dan talenta yang dimiliki setiap
            anggota himpunan.
          </p>
        </a>
      </div>

      <div class="card-content" id="mi">
        <a href="">
          <i data-feather="send"> </i>

          <h4>MI</h4>
          <p>
            Bidang yang bergerak dalam penyebaran informasi baik dari internal
            maupun eksternal HIMAOSE.
          </p>
        </a>
      </div>

      <div class="card-content" id="ilbang">
        <a href="">
          <i data-feather="search"> </i>

          <h4>ILBANG</h4>
          <p>Bidang yang bergerak di bidang riset mahasiswa oseanografi.</p>
        </a>
      </div>
    </div>
  </section>
</div>
