<div class="oprec">
  <section class="oprec-header">
    <h1>Open Recruitment</h1>
    <p>
      Jadilah bagian dari perjalanan seru kami. Mari bertumbuh dan berkarya
      bersama!
    </p>
  </section>

  <main class="container-oprec" id="list-oprec">
    <!-- <div class="box-oprec">
      <div class="deadline-box">
        <span>⏰ TUTUP: 11 MARET 2026</span>
      </div>

      <h2 class="title-box">Aniversary Night Of Marine</h2>
      <p class="description-box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ratione
        rem! Quo, non debitis. Dolorum ducimus repudiandae delectus magni
        blanditiis. Rerum est numquam consequatur magni error, esse molestiae
        libero tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Dolorem corporis tempora nihil commodi! Officiis, ducimus eius ipsam
        debitis reprehenderit consequuntur nemo ex voluptas deleniti maiores
        incidunt. Ullam quo magnam reprehenderit.
      </p>

      <a href="#" class="box-link">Daftar Sekarang →</a>
    </div>

    <div class="box-oprec">
      <div class="deadline-box">
        <span>⏰ TUTUP: 11 MARET 2026</span>
      </div>

      <h2 class="title-box">Oceanography Coastal Service</h2>
      <p class="description-box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ratione
        rem! Quo, non debitis. Dolorum ducimus repudiandae delectus magni
        blanditiis. Rerum est numquam consequatur magni error, esse molestiae
        libero tempore.
      </p>

      <a href="#" class="box-link">Daftar Sekarang →</a>
    </div>

    <div class="box-oprec">
      <div class="deadline-box">
        <span>⏰ TUTUP: 11 MARET 2026</span>
      </div>

      <h2 class="title-box">Oceanography Coastal Service</h2>
      <p class="description-box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ratione
        rem! Quo, non debitis. Dolorum ducimus repudiandae delectus magni
        blanditiis. Rerum est numquam consequatur magni error, esse molestiae
        libero tempore.
      </p>

      <a href="#" class="box-link">Daftar Sekarang →</a>
    </div> -->
  </main>

  <!-- Page scripts -->
  <script>
    
  </script>
</div>
